<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>NAP</title>


  </head>

  <body>


	{% if user.is_authenticated %}
	Hello {{ user.username }}!
	{% else %}
	Hello anonymous!
	{% endif %}
	</a>

	{% if not user.is_authenticated %}
          <form id="login_form" method="post" action="/login/" class="navbar-form navbar-right">
            {% csrf_token %}
              <input type="text" placeholder="Username" name="username" value="" class="form-control">
              <input type="password" placeholder="Password" name="password" value="" class="form-control">
            <button type="submit" value="submit" class="btn btn-success">Sign in</button>
            <a href="/register/" class="btn btn-primary">Register</a>

	 </form>
	{% endif %}

	{% if user.is_authenticated %}
	  	    	<a href="/logout/" class="btn btn-danger">Log Out</a>

	{% endif %}


  </body>
</html>
